.cards{
	display: flex;
	flex-wrap: wrap;
}
.card {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	display: flex;
	flex-grow: 1;
	flex-basis: 250px;
	margin: 30px;
}
.card img{
	width: 250px;
	border-radius: 6px;
}
.card h2 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 24px;
}
.card2{
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	display: flex;
	flex-basis: 250px;
	margin: 30px;
}
.card2 img{
	width: 250px;
	border-radius: 6px;
}
.card2 h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 24px;
}
.card3{
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	display: flex;
	flex-basis: 250px;
	margin: 30px;
}
.card3 img{
	width: 250px;
	border-radius: 6px;
}
.card3 h4 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 24px;
}