.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	flex-direction: column;
}
.card {
	padding: 28px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 6px;
    display: flex;
    flex-grow: 1;
    flex-basis: 250px;
    margin: 20px;
    flex-direction: column;
    opacity: 0.9;
}
.card img{
	width: 250px;
	border-radius: 6px;
}
.card h2,h3 {
	flex-grow: 1;
	padding-left: 15px;
	font-size: 20px;
}
