@import url(banner.css);
@import url(avatar.css);
@import url(cards.css);
@import url(container.css);
@import url(button.css);
@import url(footer.css);

body{
	background-color: indianred;
}
h1{font-family: 'Acme', sans-serif;
	text-align: center;
	font-size: 80px;}

h2,h3,h4 {
	font-family: 'Lobster', cursive;
	font-size: 30px;
	color: white
	font-weight: bold;
}
a{
	text-decoration: none;
}
p{font-family: 'Lobster', cursive;
	font-size: 20px;
	color: black;
	font-weight: bold;}
